body
{
	font-family: 'Helvetica Neue', 'Helvetica', 'Ubuntu', 'Verdana', 'Arial', 'Roboto', 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0;
	overflow: hidden;
}

p
{
	margin-left: 8px;
}

.functionInput
{
	width: 67px;
}

.boundInput
{
	width: 55px;
}

.rotationInput
{
	width: 100px;
}
