body
{
	margin: 0;
	overflow: hidden;
}

a:hover, a:focus
{
	text-decoration: none;
}

hr
{
	margin-top: 0;
	margin-bottom: 15px;
}

#modal
{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
}

#menu
{
	width: 550px;
	position: relative;
	margin: 10% auto;
	padding: 15px;
	border-radius: 10px;
	background-color: white;
}

.tip
{
	padding-top: 10px;
}

.control-label
{
	padding-right: 3px;
}

.col-sm-9
{
	padding-left: 0px;
}
